{% extends "base.html" %}
{% block content %}

<div>
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('일반', true) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- 일반 -->
    {{ macros.m_tab_content_start('일반', true) }}
      <form id="setting" name="setting">
        {{ macros.setting_button_with_info([['install_btn', '설치하기']], 'vnStat 설치', 'alpine 도커만 지원. 다른 시스템은 직접 설치 후 새로고침 해 보세요.') }}
        {{ macros.setting_select_and_buttons('default_interface_id', '기본 인터페이스', [['','']], [['get_interface_btn', '목록 가져오기']], col='8', desc=['기본으로 보여줄 네트워크 인터페이스 선택']) }}
        {{ macros.setting_radio('default_traffic_view', '기본 트래픽 보기', ['시간대별', '일별', '월별', 'Top10'], value=arg['default_traffic_view']) }}
        {{ macros.setting_radio('traffic_unit', '트래픽 표시 단위', ['SI 단위 (MB, GB, TB)', 'IEC 단위 (MiB, GiB, TiB)'], value=arg['traffic_unit']) }}
        {{ macros.setting_button([['global_setting_save_btn', '저장']]) }}
      </form>
      
    {{ macros.m_tab_content_end() }}
    
  </div><!--tab-content-->
</div> <!--전체-->



<script type="text/javascript">

var package_name = 'vnStat';
var current_data = null;
var default_interface_id = "{{arg['default_interface_id']}}"

$(document).ready(function(){

  $(function() {
    $.ajax({
      url: '/' + package_name + '/ajax/is_installed',
      type: "POST",
      cache: false,
      data: {},
      dataType: "json",
      success: function(data) {
        if (data.installed) {
          $('#install_btn').prop('disabled', true);
          $('#install_btn').html('설치됨');
          $('#install_btn').parent().next().html('<em>vnStat v' + data.version + '</em>');
        }
      }
    });
  });
  
  $(function() {
    $.ajax({
      url: '/' + package_name + '/ajax/get_vnstat_info',
      type: "POST",
      cache: false,
      data: {},
      dataType: "json",
      success: function (data) {
        current_data = data.data;
        if (data.ret == 'success') {
          get_interface(default_interface_id)
        }
      }
    });
  });

});

// vnstat 설치 버튼
$("body").on('click', '#install_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/install',
    type: "POST",
    cache: false,
    dataType: "json",
    success: function (data) {
        if (!data.success) {
            $.notify('<strong>실패하였습니다.</strong><br>' + data.log, {
                type: 'warning'
            });
        }
    }
  });
});

// interface 가져오기
$("body").on('click', '#get_interface_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/get_default_interface_id',
    type: "POST",
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      default_interface_id = data.default_interface_id;
      get_vnstat_info(default_interface_id)
    }
  });
});

function get_vnstat_info(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/get_vnstat_info',
    type: "POST",
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      current_data = data.data;
      if (data.ret == 'success') {
        $.notify('<strong>성공적으로 가져왔습니다.</strong><br>' + data.data.length + '개의 인터페이스',{
          type: 'success'
        });
        get_interface(id)
      } else if (data.ret =='no_bin') {
        $.notify('<strong>실패하였습니다.</strong><br>' + 'vnStat를 먼저 설치해 주세요.',{
          type: 'warning'
        });
      } else if (data.ret =='no_json') {
        $.notify('<strong>실패하였습니다.</strong><br>' + '유효한 json 값이 아님 - 데이터베이스 확인 필요요망',{
          type: 'warning'
        });
      } else if (data.ret =='parsing_error') {
        $.notify('<strong>실패하였습니다.</strong><br>' + 'json 분석 실패 - 개발자에게 보고바람',{
          type: 'warning'
        });
      }
    }
  });
}

function get_interface(id) {
  str = ''
  current_traffic = current_data[0]
  for (i in current_data) {
    str += `<option value="${current_data[i].id}">${current_data[i].id}</option>`
    if (current_data[i].id == id) {
      current_traffic = current_data[i]
    }
  }
  document.getElementById("default_interface_id").innerHTML = str;
  document.getElementById('default_interface_id').value = current_traffic.id;
}


</script>    
{% endblock %}